/* #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #f1f1f1;
    border-right: 1px solid #ccc;
    z-index: 9999;
} */

.grid {
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(3, 1fr);

}

.item {
  /* transparent background color */
  background-color: black;
  padding: 1px;
  font-size: 20px;
  text-align: center;

  border-radius: 4px;
}

.emptyitem {
  /* transparent background color */
  background-color: transparent;
  padding: 1px;
  font-size: 20px;
  text-align: center;
}

div>div {
  padding: 10px;
  background-color: #ccc;
}

.button_circle {
  border-radius: 4px;
}